/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    grid-template-areas:
      "post1"
      "post2"
      "post3"
      "about"
      "subscribe";
    justify-content: center;
  }

  h1 {
    font-size: 200%;
  }

  p {
    font-size: 100%;
  }
}
