/* mobile */
@media screen and (max-width: 767px) {
  .card {
    display: grid;
    grid-template-areas:
      "post1"
      "post2"
      "post3"
      "about"
      "subscribe";
    justify-content: center;
  }

  h1 {
    font-size: 200%;
  }

  p {
    font-size: 100%;
  }
}
