/* post1.html */
.postContainer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: grid;
}

.postPage {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "postNav"
    "postHeader"
    "postMain"
    "postFoot";
}

.postPage > header {
  grid-area: postHeader;
}

.postPage > nav {
  grid-area: postNav;
}

.postPage > nav ul li {
  list-style: none;
  background-color: red;
  display: inline-block;
}

.postNav-link {
  text-decoration: none;
  color: white;
  font-family: "Cormorant Garamond";
  font-weight: bold;
  padding: 1vh 1vw;
  font-size: 1rem;
}

.postNav-link:hover {
  color: black;
}

.postTitle {
  font-family: "Cormorant Garamond";
  font-weight: bold;
  color: red;
  font-size: 2rem;
  background-color: white;
  float: right;
}

.postPage > main {
  grid-area: postMain;
}

.postPage > footer {
  grid-area: postFoot;
}

.postImage {
  width: 50%;
  max-height: auto;
  position: relative;
}

.postContents {
  margin-left: 10vw;
}

.article {
  padding-right: 30%;
}

.article > p {
  background-color: lightpink;
  padding: 5vh 5vw 80vh 5vw;
}

.recentPost {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.recentPost ul li a {
  text-decoration: none;
  color: red;
  font-family: "Cormorant Garamond";
  font-weight: bold;
  font-size: 1.5rem;
}

.postContents .postSubscribe {
  grid-area: subscribe;
  padding: 2.5vh 2.5vw;
  font-family: "Cormorant Garamond";
  font-weight: bold;
}
